<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NetEaseController.CommandSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <NetEaseController.CommandSetting>
            <setting name="PlayPause" serializeAs="String">
                <value>Ctrl+F1</value>
            </setting>
            <setting name="PrevSong" serializeAs="String">
                <value>Ctrl+F2</value>
            </setting>
            <setting name="NextSong" serializeAs="String">
                <value>Ctrl+F3</value>
            </setting>
            <setting name="VolUp" serializeAs="String">
                <value>Ctrl+F4</value>
            </setting>
            <setting name="VolDown" serializeAs="String">
                <value>Ctrl+F5</value>
            </setting>
            <setting name="LikeMusic" serializeAs="String">
                <value>Ctrl+F8</value>
            </setting>
        </NetEaseController.CommandSetting>
    </userSettings>
</configuration>