<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="NetEaseController.CommandSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="NetEaseController.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="NetEaseController.Properties.CommandSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <userSettings>
    <NetEaseController.CommandSetting>
      <setting name="Win" serializeAs="String">
        <value>LWIN</value>
      </setting>
      <setting name="PlayPause" serializeAs="String">
        <value>Ctrl+F1</value>
      </setting>
      <setting name="PrevSong" serializeAs="String">
        <value>Ctrl+F2</value>
      </setting>
      <setting name="NextSong" serializeAs="String">
        <value>Ctrl+F3</value>
      </setting>
      <setting name="VolUp" serializeAs="String">
        <value>Ctrl+F4</value>
      </setting>
      <setting name="VolDown" serializeAs="String">
        <value>Ctrl+F5</value>
      </setting>
      <setting name="LikeMusic" serializeAs="String">
        <value>Ctrl+F7</value>
      </setting>
      <setting name="ShowLRC" serializeAs="String">
        <value>Ctrl+F8</value>
      </setting>
    </NetEaseController.CommandSetting>
  </userSettings>
  <applicationSettings>
    <NetEaseController.Properties.Settings>
      <setting name="ServerAddress" serializeAs="String">
        <value>http://*:10180/</value>
      </setting>
    </NetEaseController.Properties.Settings>
    <NetEaseController.Properties.CommandSetting>
      <setting name="Win" serializeAs="String">
        <value>WIN</value>
      </setting>
      <setting name="VB_Mute" serializeAs="String">
        <value>VOLUME_MUTE</value>
      </setting>
      <setting name="VB_OutToggle" serializeAs="String">
        <value>Ctrl+MEDIA_STOP</value>
      </setting>
      <setting name="VB_VolUp" serializeAs="String">
        <value>VOLUME_UP</value>
      </setting>
      <setting name="VB_VolDown" serializeAs="String">
        <value>VOLUME_DOWN</value>
      </setting>
      <setting name="PlayPause" serializeAs="String">
        <value>Ctrl+F1</value>
      </setting>
      <setting name="PrevSong" serializeAs="String">
        <value>Ctrl+F2</value>
      </setting>
      <setting name="NextSong" serializeAs="String">
        <value>Ctrl+F3</value>
      </setting>
      <setting name="VolUp" serializeAs="String">
        <value>Ctrl+F4</value>
      </setting>
      <setting name="VolDown" serializeAs="String">
        <value>Ctrl+F5</value>
      </setting>
      <setting name="LikeMusic" serializeAs="String">
        <value>Ctrl+F8</value>
      </setting>
    </NetEaseController.Properties.CommandSetting>
  </applicationSettings>
</configuration>